@model List<Food>
<h1>Menu</h1>
<ul>
	@foreach(Food item in Model)
	{
		<li>
			<ul>
				<li> Dish name: @item.Name</li>
				<li> Dish weight: @(item.Weight)kg</li>
				<li> Dish price: $@(item.Price)</li>
			</ul>
			<form method="get" asp-action = "UpdateFood" asp-route-id = "@item.Id"><button type = "submit" >Edit</button></form>
			<form method="post" asp-action = "DeleteFood" asp-route-id = "@item.Id"><button type="submit">Delete</button></form>
			<p>-------------------------------------------------------------</p>
		</li>
	}
</ul>
<form method = "get" asp-action = "AddFood">
	<button type = "submit"> Add dish</button>
</form>

