@model Food
<h1>Edit dish</h1>
<form method="post" asp-action="UpdateFood">
	<label>Dish name</label>
	<input asp-for="Name" type="text" /><br />
	<label>Dish weight</label>
	<input asp-for="Weight" type="number" step="0.01" /><br />
	<label>Dish price</label>
	<input asp-for="Price" type="number" step="0.01" /><br />
	<input type="submit" value="Update dish" />
</form>
<form method="get" asp-action="GetFood">
	<button type="submit"> Return</button>
</form>
